body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* REST method styles */

span.rest-method-get {
 color: white;
 background-color: limegreen;
 padding-left: 10pt;
 padding-right: 10pt;
 padding-top: 5pt;
 padding-bottom: 5pt;
 border-radius: 10pt;
}

span.rest-method-put {
 color: white;
 background-color: mediumpurple ;
 padding-left: 10pt;
 padding-right: 10pt;
 padding-top: 5pt;
 padding-bottom: 5pt;
 border-radius: 10pt;
}

span.rest-method-post {
 color: white;
 background-color: cornflowerblue;
  padding-left: 10pt;
 padding-right: 10pt;
 padding-top: 5pt;
 padding-bottom: 5pt;
 border-radius: 10pt;
}

span.rest-method-delete {
 color: white;
 background-color: palevioletred;
 padding-left: 10pt;
 padding-right: 10pt;
 padding-top: 5pt;
 padding-bottom: 5pt;
 border-radius: 10pt;
}

span.rest-method-patch {
 color: white;
 background-color: darkorange;
 padding-left: 10pt;
 padding-right: 10pt;
 padding-top: 5pt;
 padding-bottom: 5pt;
 border-radius: 10pt;
}
